.specificBook {
    max-width: auto;
    height: 380px;
    text-align: center;
}

.specificBook:hover {
    box-shadow: 0px 0px 20px -5px black;
    cursor: pointer;
}

.media {
    margin: 0 auto;
    height: auto;
    max-height: 290px;
    width: auto;
    max-width: 190px;
    object-fit: contain;

}