.specificBook {
    max-width: auto;
    height: 370px;
    text-align: center;
}

.media {
    margin: 0 auto;
    height: auto;
    max-height: 290px;
    width: auto;
    max-width: 200px;
    object-fit: contain;
    
}